.firstSection {
    border-radius: 4px 0 0 4px;
}

.secondSection {
    border-radius: 0 4px 4px 0;
}

.carouselContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cursor {
    cursor: pointer;
}
