.poster {
    height: 10%;
    width:auto;
}

.listContainer {
    border: 1px solid black!important;
    outline: none;
    background-color: #191919;
    color: white!important;
}

.listContainer:hover {
    background-color: #323232!important;
}

.listContainer:focus {
    background-color: #262626!important;
    color: white!important;

}

h4 {
    margin-left: 20px;
    display: inline-block;
}

.listContainer:last-of-type {
    margin-bottom: 20px;
}
