.poster {
    height: 10%;
    width:auto;
}

.listContainer {
    border: 1px solid #191919!important;
    outline: none;
}

h4 {
    margin-left: 20px;
    display: inline-block;
}

.listContainer:last-of-type {
    margin-bottom: 20px;
}