.grid-background {
    background-color: #323232;
}

.noPaddingLeft {
    padding-left: 0!important;
}

.noPaddingRight {
    padding-right: 0!important;
}

.up {
    z-index: 100;
    float: right;
    bottom: 0;
    position: fixed;
    margin-left: 70%;
    margin-bottom: 20px;
    font-size: 50px;
    cursor: pointer;
}

.hide {
    animation: hide 1s ease-in;
}

.show {
    animation: show 1s ease-in;
}

@keyframes hide {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}
