.grid-background {
    background-color: #323232;
}

.noPaddingLeft {
    padding-left: 0!important;
}

.noPaddingRight {
    padding-right: 0!important;
}

.up {
    z-index: 100;
    float: right;
    bottom: 0px;
    position: fixed;
    margin-left: 70%;
    margin-bottom: 20px;
    font-size: 4em;
    cursor: pointer;
}

.hide {
    display: none;
}