.background span {
    font-weight: bold;
    color: white;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.imgPadding {
    padding-right: 20px;
    padding-bottom: 20px;
    min-width: 255px;
}

.flexDescription {
    display: flex;
    flex-direction: column;
}

.background {
    background-color: #323232;
    color: white;
}

@media only screen and (max-width: 540px) {
    .flexContainer {
        flex-direction: column;
    }

    .imgPadding {
        margin: 20px auto;
        padding: 0;
    }
}
